<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxymin.android.pipal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pi_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mxymin.android.pipal.activities.GameActivity"
            android:label="@string/game_mode"
            android:parentActivityName="com.mxymin.android.pipal.activities.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mxymin.android.pipal.activities.UserPreferencesActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mxymin.android.pipal.activities.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mxymin.android.pipal.activities.PracticeActivity"
            android:label="@string/practice_mode"
            android:parentActivityName="com.mxymin.android.pipal.activities.MainMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mxymin.android.pipal.activities.MemorizeActivity"
            android:label="@string/memorize_mode"
            android:parentActivityName="com.mxymin.android.pipal.activities.MainMenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mxymin.android.pipal.activities.ScoresActivity"
            android:label="@string/scores_mode"
            android:parentActivityName="com.mxymin.android.pipal.activities.MainMenuActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>