<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pimemorize">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/start_mode"
            android:parentActivityName=".activities.MainMenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.UserPreferencesActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MemorizeActivity"
            android:label="Memorize"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainMenuActivity">
        </activity>
    </application>

</manifest>
